@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  /* .primary-gradient {
    background: linear-gradient(129deg, #087c3e 0%, #61b086 100%);
  } */

  .btn {
    @apply px-4 py-2 text-white rounded-md hover:opacity-80 focus:opacity-80 bg-primary-500;
  }

  .link {
    @apply hover:opacity-80 focus:opacity-80;
  }

  .secondary-btn {
    @apply px-4 py-2 text-white rounded-md hover:opacity-80 focus:opacity-80 bg-accent-100;
  }

  .danger-btn {
    @apply px-4 py-2 text-white rounded-md hover:opacity-80 focus:opacity-80 bg-red-500;
  }

  .h1 {
    @apply text-3xl font-bold;
  }
  .h3 {
    @apply text-lg font-bold;
  }

  .custom-grid {
    @apply grid max-md:grid-cols-2 md:grid-cols-2 xl:grid-cols-3 gap-8;
  }
}
