@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	font-family: "Inter", sans-serif;
}

h1,
h2,
h3 {
	font-family: "Cormorant", serif;
}

html {
	@media (min-width: 900px) {
		font-size: 120%;
	}
}

@layer utilities {
	/* .primary-gradient {
    background: linear-gradient(129deg, #087c3e 0%, #61b086 100%);
  } */

	.btn {
		@apply px-4 py-2 text-white rounded-md hover:filter hover:brightness-105 focus:opacity-80 bg-primary-500 shadow-lg;
	}

	.link {
		/* @apply hover:opacity-70 focus:opacity-70  */
		@apply focus:text-accent-500 hover:text-accent-500;
	}

	.secondary-btn {
		@apply px-4 py-2 text-sm text-white rounded-md hover:filter hover:brightness-105 focus:opacity-80 bg-accent-500 shadow-lg;
	}

	.secondary-outline-btn {
		@apply px-4 py-2 text-sm rounded-md hover:filter hover:brightness-105 focus:opacity-80 border border-accent-500 shadow-lg;
	}

	.danger-btn {
		@apply px-4 py-2 text-white rounded-md hover:filter hover:brightness-105 focus:opacity-80 bg-red-500 shadow-lg;
	}

	.h1 {
		@apply text-3xl font-medium;
	}
	.h2 {
		@apply text-3xl;
	}
	.h3 {
		@apply text-2xl font-bold;
	}

	.custom-grid {
		@apply grid grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6 justify-items-center items-center;
	}

	.mask-image {
		@apply bg-gradient-to-l from-transparent via-transparent to-black;
	}
}
