@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Cormorant", serif;
}

html {
  @media (min-width: 800px) {
    font-size: 130%;
  }
}

@layer utilities {
  /* .primary-gradient {
    background: linear-gradient(129deg, #087c3e 0%, #61b086 100%);
  } */

  .btn {
    @apply px-4 py-2 text-white rounded-md hover:opacity-80 focus:opacity-80 bg-primary-500 shadow-lg;
  }

  .link {
    /* @apply hover:opacity-70 focus:opacity-70  */
    @apply focus:text-accent-500 hover:text-accent-500;
  }

  .secondary-btn {
    @apply px-4 py-2 text-white rounded-md hover:opacity-80 focus:opacity-80 bg-accent-500 shadow-lg;
  }

  .secondary-outline-btn {
    @apply px-4 py-2 text-accent-500 rounded-md hover:opacity-80 focus:opacity-80 border-[1px] border-accent-500 shadow-lg;
  }

  .danger-btn {
    @apply px-4 py-2 text-white rounded-md hover:opacity-80 focus:opacity-80 bg-red-500 shadow-lg;
  }

  .h1 {
    @apply text-3xl font-medium;
  }
  .h2 {
    @apply text-2xl;
  }
  .h3 {
    @apply text-lg font-bold;
  }

  .custom-grid {
    @apply grid max-xs:grid-cols-1 grid-cols-2 2xl:grid-cols-3 gap-6 justify-items-center items-center;
  }

  .mask-image {
    @apply bg-gradient-to-b from-transparent via-transparent to-black;
  }
}
